{% extends 'base.html' %}
{% load static %}
{% block title %}
Editar
{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/editar.css' %}">


 
</head>
<div class="gaveta">
  <div class="container">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Editar" id="teste">
    </form>
    <button class="botao voltar"><a href="{% url 'exibir_senhas' %}">Voltar</a></button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(".botao").click(function() {
        window.location = $(this).find("a").attr("href"); 
        return false;
    });
</script>

{% endblock %}
