{% extends 'base.html' %}
{% load static %}

{% block title %}
index
{% endblock %}

{% block content %}




{% if user.is_authenticated %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de senhas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'css/index2.css' %}" rel="stylesheet">
</head>
    <!--<p>Usuario logado: <strong>{{ request.user.username }}</strong></p><br><br> 
    <a href="{% url 'adicionar_conta_senha' %}">Adicinar conta</a><br><br>
    <a href="{% url 'editar_conta_senha' %}">Editar contas</a><br><br><br>

    <br><br>
    <p>links gerais:</p>
    <a href="{% url 'armazenar_senha' %}">armazenar_senha/</a><br><br>
    <a href="{% url 'exibir_senhas' %}">exibir_senhas/</a><br><br>
    <a href="{% url 'adicionar_conta_senha' %}">adicionar_conta_senha/</a><br><br>
    <a href="{% url 'editar_conta_senha' %}">editar_conta_senha/</a><br><br>-->
    <body>
        <main>
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Senhas</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i><span class="rotulo">Início</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../privacidade/"><i class="fa-solid fa-lock"></i><span class="rotulo">Privacidade</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-circle-user"></i><span class="rotulo">Conta</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Desconectar</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
            </nav>
            <section class="inicio">
                <div>
                    <h1>Olá, {{ request.user.username }}</h1>
                    <p>Para começar a usar o cofre de senhas, clique no botão abaixo para exibi-las</p>
                    <div class="exibirsenhas">
                        <a href="{% url 'exibir_senhas' %}">Exibir senhas</a>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/367278d2a4.js" crossorigin="anonymous"></script>
        <script src="../src/scripts/modal.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script>
            $(".exibirsenhas").click(function() {
            window.location = $(this).find("a").attr("href"); 
            return false;
            });
        </script>
    </body>
</html>
{% else %}
   
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gerenciador de senhas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="#" class="nome-servico">Senhas</a>
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Início</a></li>
                    <li><a href="{% url 'quem-somos' %}" class="nav-link px-2">Quem somos</a></li>
                </ul>
                <div class="col-md-3 text-end"> 
                    <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Entrar</a>
                    <a href="{% url 'registro' %}" class="btn btn-primary">Cadastre-se</a>
                </div>
            </header>
            <section class="conteudo">
                <div class="titulo">
                    <p>Bem vindo ao nosso</p>
                    <h1>Gerenciador de Senhas</h1>
                </div>
                <div class="paragrafo gaveta">
                    <img src="https://i.postimg.cc/8zvH8R6K/password-6246457-5114950.webp" alt="Imagem de um cadeado com senha">
                    <div>
                        <p class="chamada">Em um mundo digital em constante evolução, a segurança de suas 
                        informações pessoais é mais crucial do que nunca.</p>
                        <p>É aí que entra o nosso Gerenciador de Senhas. Imagine: poder organizar e proteger 
                        todas as suas senhas em um só lugar, de maneira fácil e segura... Aqui, oferecemos a 
                        solução para que você possa navegar na web com confiança, sem se preocupar com a 
                        complexidade de lembrar uma infinidade de senhas.</p>
                    </div>
                </div>
                <div class="paragrafo fundo">
                    <p class="chamada">O que o nosso gerenciador de senhas te proporciona:</p>
                    <div class="features">
                        <div class="feature">
                            <div class="icone">
                                <i class="fa-solid fa-shield-halved"></i>
                            </div>
                            <h2>Organização</h2>
                            <p>Diga adeus à confusão e esquecimento de senhas. Nosso gerenciador permite 
                            que você armazene todas as suas credenciais de maneira organizada, facilitando o 
                            acesso e a gestão.</p>
                        </div>
                        <div class="feature">
                            <div class="icone">
                                <i class="fa-solid fa-key"></i>
                            </div>
                            <h2>Segurança</h2>
                            <p>Utilizamos tecnologias avançadas de criptografia para garantir que suas 
                            informações estejam protegidas contra acessos não autorizados. Sua segurança é 
                            nossa prioridade número um.</p>
                        </div>
                        <div class="feature">
                            <div class="icone">
                                <i class="fa-solid fa-laptop-mobile"></i>
                            </div>
                            <h2>Portabilidade</h2>
                            <p>Acesse suas senhas de forma segura em vários dispositivos. Seja no seu 
                            computador, tablet ou smartphone, suas credenciais estão sempre ao alcance, 
                            mantendo sua vida digital integrada.</p>
                        </div>
                    </div>
                </div>
                <div class="paragrafo final">
                    <p class="chamada">Não deixe sua segurança para depois! <a href="{% url 'registro' %}">Cadastre-se agora >></a></p>
                    <p>Proteja suas informações e simplifique sua vida digital hoje mesmo. Junte-se a nós e 
                    descubra a tranquilidade de ter um gerenciador de senhas confiável ao seu lado. Sua 
                    segurança não pode esperar. Cadastre-se agora e experimente a liberdade de navegar com 
                    confiança!</p>
                </div>
            </section>
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
                <p class="col-md-4 mb-0 text-body-secondary">© 2023 Gerenciador de Senhas</p>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Início</a></li>
                    <li class="nav-item"><a href="{% url 'quem-somos' %}" class="nav-link px-2 text-body-secondary">Quem somos</a></li>
                </ul>
            </footer>
        </main>
        <script src="https://kit.fontawesome.com/367278d2a4.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>



{% endif %}
{% endblock %}
