{% extends 'base.html' %}

{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">


    <title>Login</title>
</head>



{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<body>
    <main>
       <div class="login">
          <form method="post">
            {% csrf_token %}
             <h1>Login</h1>
             <div>
                <input type="email" id="email" name="email" placeholder="E-mail" required>
                <input type="password" id="password" name="password" class="input" placeholder="Senha" required> 
                <button type="submit" value="Entrar">Entrar</button>
             </div>
          </form>
       </div>
    </main>
 </body>


<button><a href="{% url 'registro' %}">Não tenho uma conta</a><br></button>
<button><a href="{% url 'index' %}">Início</a></button>
{% endblock %}
