{% extends 'base.html' %}
{% load static %}

{% block title %}
Registro
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">


   
</head>
<body>
    <main>
        <div class="cadastro">
            <form method="post">
                {% csrf_token %}
                <h1>Registro de Usuário</h1>
                    <div>
                        <input type="text" id="username" name="username" placeholder="Nome de usuário" required>
                        <input type="email" id="email" name="email" placeholder="E-mail" required>
                        <input type="password" id="password" name="password" placeholder="Senha" required>
                        <input type="text" id="nome" placeholder="Nome" name="nome" required>
                        <input type="text" id="sobrenome" placeholder="Sobrenome" name="sobrenome" required>
                        <input type="text" id="cpf" placeholder="CPF" name="cpf" id="cpf" required>
                        <input type="date" id="nacimento" placeholder="" name="nacimento" id="nacimento" required>
                        <input type="tel" id="telefone" placeholder="Telefone" name="telefone" id="telefone" required>
                        <input type="text" id="nacionalidade" placeholder="Nacionalidade" name="nacionalidade" required>

                        <button type="submit" value="Registrar">Cadastrar</button>
                    </div>
             </form>
        </div>
    </main>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
</body>
<button><a href="{% url 'login'%}">ja tenho uma conta</a><br></button>
<button><a href="{% url 'index' %}">inicio</a></button>
{% endblock %}
