<h1>index</h1>


{% if user.is_authenticated %}
    <p>Usuario logado: <strong>{{ request.user.username }}</strong></p><br><br> 
    <a href="{% url 'adicionar_conta_senha' %}">Adicinar conta</a><br><br>
    <a href="{% url 'editar_conta_senha' %}">Editar contas</a><br><br><br>
    <a class="nav-link" href="{% url 'logout' %}">Sair</a>
{% else %}
    <h3>voce nao esta logado</h3>
    <a href="{% url 'login' %}">LOGIN</a><br><br>
    <a href="{% url 'registro' %}">CRIAR CONTA</a><br><br>
{% endif %}

